:root{
    --primary:#04704e;
    --secondary:#28c071;
    --accent:#102b99;
    /* --accent:#b88019; */
    --light:#0cc01e;
    --mgvwidth:600px;
    
    
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: "Source Sans Pro"; */
    letter-spacing: 0.5px;
    font-size: 19.5px;
    /* line-height: 30px; */
     font-family: "Oxygen";
    /* font-family: "GT America Standard Regular",sans-serif; */
    /* font-family: 'Manrope',sans-serif; */
}
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
a{
    text-decoration: none;
    color: var(--accent);
    /* position: relative; */
    /* z-index: 10; */
}
a:hover{
    color: var(--light);
}
a.button{
    border: 3px solid var(--secondary);
    padding: 5px;
    font-size: large;
    border-radius: 5px;
}
input{
    height: 30px;
    border: 3px solid black;
    padding: 5px;
    border-radius: 5px;
}
.subtitle{
    color: var(--secondary);
    font-size: 1.33rem;
}
.title{
    font-size: 1.66rem;
    text-align: center;
}
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.center-align{
    align-items: center;
}
.center-justify{
    justify-content: center;
}
.rrow{
    display: flex;
    flex-direction: row-reverse;
}
.fs-large{
    font-size: 1.33rem;
}
.fs-x-large{
    font-size: 1.66rem;
}
.fs-medium{
    font-size: 1rem;
}
.fs-small{
    font-size: 0.8rem;
}
.fs-larger{
    font-size: 1.5rem;
}
.fs-xx-large{
    font-size: 2rem;
}
.student-img{
    width: 200px;
    height: 200px;
}
.person-img{
    width: 200px;
    height: 200px;
}
hr.thick2{
    border: 0;
    clear:both;
    display:block;
    width: 60%;               
    background-color:var(--primary);
    height: 5px;
}
hr.thick{
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:var(--secondary);
    height: 5px;
}
hr.thin{
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:var(--light);
    height: 3px;
}
.desktop{
    display: none;
}





@media(min-width:800px){
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
}
